<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">

    <div class="navbar-start">
      <a (click)="fullscreen()" class="navbar-item fullscreen"><i class="fas fa-compress"></i></a>
      <a [ngClass]="{online: commService.serverIsAlive , offline: !commService.serverIsAlive}"
        class="navbar-item inactiveLink"><i class="fas fa-check-square"></i></a>
      <a [ngClass]="{online: commService.clientIsRunning , offline: !commService.clientIsRunning}"
        class="navbar-item inactiveLink"><i class="fas fa-check-square"></i></a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a *ngIf="!commService.clientIsRunning&&commService.serverIsAlive" (click)="commService.buildComp()"
            class="button is-dark">
            <strong>Build Comp</strong>
          </a>
          <a *ngIf="!commService.clientIsRunning&&commService.serverIsAlive" (click)="commService.toggleClientRunning()"
            class="button is-dark">
            <strong>Start Draft</strong>
          </a>
          <a *ngIf="commService.clientIsRunning&&commService.serverIsAlive" (click)="commService.toggleClientRunning()"
            class="button is-danger">
            <strong>End Draft</strong>
          </a>
          <a *ngIf="commService.serverIsAlive" (click)="commService.reloadConfiguration()" class="button is-dark">
            <strong>Reload Configuration</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
