a {
  margin-right: 5px;
}

.comp {
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}


.subtitle {
  color: #777777;
}

.title {
  color: rgb(100, 100, 100);
}
