/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bulma/bulma.sass';

html {
  overflow-y: auto;
  background-color: rgb(6, 12, 16);
}

html,
body {
  height: 100%;
}
